.container {
	max-width: 1550px;
	width: 100%;
	margin: 0 auto;
}

.navbar {
	* {
		box-sizing: border-box;
	}
	&__top {
		background: #68c190;
		@include header_bg();
		&__inner {
			@extend .container;
		}
		&__menu {
			ul {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					display: flex;
					position: relative;
					&:last-child {
						margin-right: 0;
					}
					a {
						display: flex;
						align-items: center;
						text-decoration: none;
						color: $color_menu_top_items;
						text-transform: uppercase;
						font-size: $font-size_menu_top_items;
						padding: 0 $menu_items_padding;
						height: 50px;
						letter-spacing: 0.14px;
						white-space: nowrap;
						transition: .25s all ease;
						&:hover {
							background: rgba(#fff, .2);
						}
						&._dropdown-link {
							&::after {
								content: url(../../img/dropdown_arrow.svg);
								top: 50%;
								margin-top: -5px;
								margin-left: 4px;
								transition: .25s all ease;
							}
						}
					}
				}
			}
		}
	}
	&__bottom {
		height: 50px;
		background: #b8d1da;
		@include header_shadow();
		&__inner {
			@extend .container;
			display: flex;
			align-items: center;
			height: 100%;
			justify-content: space-between;
		}
		&__left,
		&__right {
			height: 100%;
		}
		&__right {
			padding-right: $menu_items_padding;
		}
		&__menu {
			height: 100%;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: flex;
				align-items: center;
				height: 100%;
				li {
					height: 100%;
					display: flex;
					a {
						color: $color_menu_bottom_items;
						font-size: $font-size_menu_bottom_items;
						letter-spacing: 0.14px;
						text-decoration: none;
						text-transform: uppercase;
						padding: 0 $menu_items_padding;
						height: 100%;
						display: flex;
						align-items: center;
						transition: .25s all ease;
						&:hover {
							background: rgba(#fff, .2);
						}
						&._dropdown-link {
							&::after {
								content: url(../../img/dropdown_arrow.svg);
								top: 50%;
								margin-top: -5px;
								margin-left: 4px;
								transition: .25s all ease;
							}
						}
					}
				}
				._dropdown-box {
					li {
						height: auto;
						a {
							padding: 10px 15px 10px 60px;
							font-size: 14px;
							white-space: nowrap;
						}
					}
				}
			}
		}
		&__socials {
			height: 100%;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: flex;
				height: 100%;
				align-items: center;
				li {
					margin-left: 20px;
					a {
						img {
							vertical-align: top;
							width: 36px;
						}
					}
				}
			}
		}
		._dropdown {
			&-box {

			}
		}
	}
	&__mobile {
		display: none;
		&__bar {
			height: $menu_mobile_heiht;
			@include header_bg();
			@include header_shadow();
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__btn {
			height: 100%;
			display: flex;
			align-items: center;
			.hamburger {
				padding: 0 $menu_items_padding_md;
				height: 100%;
				outline: none;
				&-inner {
					background-color: $color_menu_top_items !important;
					&::after,
					&::before {
						background-color: $color_menu_top_items !important;
					}
				}
			}
		}
		&__soc {
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: flex;
				li {
					margin-left: 10px;
					a {
						img {
							width: 36px;
						}
					}
				}
			}
		}
		&__menu {
			width: 100%;
			height: calc(100vh - #{$menu_top_height});
			top: $menu_top_height;
			position: fixed;
			@include header_bg();
			transition: .25s all ease;
			transform: translateX(-100%);
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					._m_dropdown_box {
						margin: 0;
						padding: 0;
						list-style: none;
						display: none;
					}
					._m_dropdown_c {
						display: flex;
					}
					a {
						font-size: 16px;
						color: $color_menu_top_items;
						text-decoration: none;
						display: flex;
						width: 100%;
						padding: 10px 15px;
					}
					._m_dropdown_trigger {
						margin-left: auto;
						width: 40px;
						display: block;
						border: none;
						background: url(../../img/dropdown_arrow.svg);
						background-size: 15px;
						background-position: center;
						background-repeat: no-repeat;
						transform: rotate(-90deg);
						margin-right: $menu_items_padding_md;
					}
					ul {
						li {
							a {
								padding-left: 30px;
							}
						}
					}
				}
			}
		}
		&.is--menu {
			.navbar__mobile__menu {
				transform: translateX(0);
			}
		}
	}
}

._dropdown {
	&-c {
		position: relative;
		._dropdown-box {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			background: #fff;
			z-index: 1;
			li {
				position: relative;
				&:hover {
					&::before {
						content: url(../../img/dropdown_point_h.png);
					}
					a {
						color: #5cb382;
					}
				}
				a {
					width: 100%;
					color: #000000;
					font-size: 16px;
					height: auto;
					padding-top: 15px;
					padding-bottom: 15px;
					padding-left: 60px;
					padding-right: 20px;
				}
				&::before {
					content: url(../../img/dropdown_point.png);
					position: absolute;
					top: 50%;
					margin-top: -9px;
					left: 25px;
				}
			}
		}
		&:hover {
			._dropdown-link {
				background: rgba(#fff, .2);
				&::after {
					transform: rotate(180deg);
					margin-top: 0;
				}
			}
			._dropdown-box {
				display: block;
			}
		}
	}
}

.nmm_tw {
	padding-top: 10px !important;
	li {
		a {
			justify-content: center;
		}
	}
}